*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.caja{
    background-color:cadetblue;
    width: 20px;
    height: 20px;
    padding: 20px;
    border: 2px solid #012101;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.caja2{
    background-color: chocolate;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
}